h1 {
    text-align: center;
}

.botones {
    display: inline-block;
}


.circular {
    line-height: 200px;
    position: relative;
    left: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(3, 170, 226);
    box-shadow: 12px 12px 20px 1px;
    text-align: center;
    vertical-align: top;
}

.simbolo {
    display: inline-block;
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.rectangular {
    line-height: 80px;
    position: relative;
    left: 380px;
    top: 60px;
    width: 200px;
    height: 80px;
    background-color: rgb(3, 170, 226);
    text-align: center;
    border-radius: 12px;
}

.texto-medio {
    display: inline-block;
    font-size: 30px;
    color: white;
}

.transparente {
    line-height: 80px;
    position: relative;
    left: 520px;
    top: 60px;
    width: 200px;
    height: 80px;
    background-color: transparent;
    text-align: center;
}

.texto-boton-ultimo {
    display: inline-block;
    font-size: 30px;
    color: rgb(3, 170, 226);