h1 {
    text-align: center;
}

.botones {
    display: inline-block;
}


.circular {
    line-height: 200px;
    position: relative;
    left: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(3, 170, 226);
    box-shadow: 12px 12px 20px 1px;
    text-align: center;
    vertical-align: top;
}

.simbolo {
    display: inline-block;
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.rectangular {
    line-height: 80px;
    position: relative;
    left: 380px;
    top: 60px;
    width: 200px;
    height: 80px;
    background-color: rgb(3, 170, 226);
    text-align: center;
    border-radius: 12px;
}

.texto-medio {
    display: inline-block;
    font-size: 30px;
    color: white;
}

.transparente {
    line-height: 80px;
    position: relative;
    left: 520px;
    top: 60px;
    width: 200px;
    height: 80px;
    background-color: transparent;
    text-align: center;
}

.texto-boton-ultimo {
    display: inline-block;
    font-size: 30px;
    color: rgb(3, 170, 226);
}

.boton-mio {
    position: relative;
    top: 300px;
    width: 200px;
    height: 80px;
    background-color: black;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }
  .boton-mio:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

.texto-boton-mio {
    color: yellow;
    font-size: 30px;
}

.boton-ultimo{
    position: relative;
    left: 900px;
    top: 200px;
    width: 200px;
    height: 80px;
    background-color: yellowgreen;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .boton-ultimo:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }

.texto-boton-ultimo {
    color: palevioletred;
    font-size: 30px;
}